:root{
  --primary:#05a081;
  --main-bg-color:#f2f2f2;
  --main-font-color:#4a4a4a;

  --light-blue:#47A8F5;
  --main-orange:#fe5800;
  --main-gray:#e3e3e3;
  --main-green:#05a081;
  --main-blue:#0d47a4;
  --main-purple:#673ab7;
  --main-red:#ED1B24;
  --main-yellow:#ffaa2b;
  --main-white:white;

  --dark-gray:#4a4a4a;

  --danger:#ff3333;
  --warning:#ffaa2b;
  --success:#05a081;
  --info:#47A8F5;

  --firebrick:#B22222;

  --main-font: 16px system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*debugging
*{
  border: solid 1px black;
}*/
/*#region DEFAULTS */
*{
  box-sizing:border-box;
}
html{
  scroll-behavior:smooth;
}
html *{
  letter-spacing: 0.7px;
  font: var(--main-font);
  margin:0px;
}
body{
  margin:0px;
  padding:0px;
  background-color:var(--main-bg-color);
  font: var(--main-font);
  background-attachment:fixed;
  color:var(--main-font-color);
  overflow-y:auto;
  overflow-x:hidden;
}
em{
  font-weight:bold;
}
label{
  white-space: normal;
}
i{
  font-style:italic;
}
p{
  text-indent:25px;
}
a{
  text-decoration:none;
  font-style:none;
  color:var(--main-font-color);
}
ul{
  list-style-type: none;
  text-align:center;
}
ul li{
  display: inline-block;
  text-align:center;
}
/*#endregion*/

/* Width */
.w-100{
  width:100%;
}
.w-90{
  width:90%;
}
.w-80{
  width:80%;
}
.w-75{
  width:75%;
}
.w-50{
  width:50%;
}
.w-33{
  width:33%;
}
.w-25{
  width:25%;
}

/* height */
.h-100{
  height:100%;
}



/*#region NAVBAR */
nav{
  padding: 0 14px;
  top:0px;
  left:0px;
  height:64px;
  position:sticky;
  display: flex;
  justify-content: space-between;
  box-shadow:0px 1px 2px 0px #cccccc;
  background-color:var(--main-bg-color);
}
nav > *{
  display:flex;
  height:100%;
  margin:0px;
  padding:0px 7px;
  height:100%;
  align-items: center;
}
nav ul{
  padding:0;
}
nav ul li{
  display: flex;
  padding:0px 14px;
  height:100%;
  align-items: center;
  background-color: var(--main-bg-color);
}
nav ul li:hover{
  filter:brightness(75%);
}
nav ul li > * {
  display:flex;
  height:100%;
  align-items: center;
  font-weight: bold;
}

.active{
  border-bottom:var(--primary) inset 2px;
}

.nav-logo img{
  margin-left:10px;
  height:60px;
  cursor:pointer;
}

.nav-avatar{
  cursor:pointer;
  background-color: var(--main-bg-color);
}

.nav-avatar:hover .avatar{
  filter:brightness(75%);
}

.nav-avatar:hover .menu-dropdown .menu-drop-item{
  display:block;
}
/* #endregion */

/*#region Menu Dropdown*/
.menu-dropdown{
  position:absolute; 
  display:flex;
  flex-direction:column;
  box-shadow:0px 1px 2px;
  margin:0px 14px 0px 0px;
  right:0px;
  top:65px;
}

.menu-dropdown:hover + .menu-drop-item{
  display: block;
}

.menu-drop-item{
  display:none;
  width:200px;
  background-color:var(--main-white);
  border-bottom:solid 1px var(--main-gray);
  padding:5px 7px;
  cursor:pointer;
}
.menu-drop-item > *{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height:100%;
  cursor:pointer;
}
.menu-drop-item > * > *{
  padding:0px 7px;
  cursor:pointer;
}
/*#endregion*/

/*#region CONTAINERS */

div{
  display: flex;
}
.flex-start{
  justify-content: flex-start;
}
.spread{
  justify-content: space-between;
}
.wrap{
  flex-wrap:wrap;
}
section{
  display: flex;
  flex-wrap: wrap;
  padding:10px 14px;
  margin-bottom:1.5em;
  overflow-y: auto;
}
.narrow{
  margin:0 10% 10px 10%;
}
.wide{
  margin:0 3% 10px 3%;
}
.main-full{
  margin:0;
}
.full-screen{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  margin:0;
  padding:0;
  overflow:auto;
}
.box{
  min-width:500px;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
  flex-wrap: wrap;
}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.as-single{
  display:flex;
  flex-direction: row;
  justify-content: start;
}
/*#endregion*/

/*#region FORM */
form{
  display: flex;
  flex-direction: column;
  padding:10px 14px;
}
form > *{
  flex-direction: column;
}
input,select,textarea{
  padding:5px 7px;
  border:solid 1px var(--main-white);
  border-left:solid 1px var(--primary);
  margin:5px;
  outline-style: none;
  transition: all .3s ease-in;
}
input:focus,select:focus,textarea:focus{
  border:solid 1px var(--main-white);
  border-bottom:solid 1px var(--primary);
}
select{
  cursor:pointer;
}
/*#endregion*/

/*#region TEXTS */
.text-banner{
  font-size: 45px;
}
.text-header{
  font-size: 1.875rem;
}
.text-subheader{
  font-size: 18px;
}
.text-default{
  font-size: 16px;
}
.text-secondary{
  font-size: 14px;
}
.bold{
  font-weight: bold;
}
.i{
  font-style:italic;
}
/*#endregion */

/*#region COLORS */
/* border-color */
.border-primary{
  border-color:var(--primary);
}
.border-green{
  border-color:var(--main-green);
}
.border-gray{
  border-color:var(--main-gray);
}
.border-darkgray{
  border-color:var(--main-gray);
}
.border-yellow{
  border-color:var(--main-yellow);
}
.border-red{
  border-color:var(--main-red);
}
.border-blue{
  border-color:var(--main-blue);
}
.border-lightblue{
  border-color:var(--light-blue);
}
.border-orange{
  border-color:var(--main-orange);
}
.border-firebrick{
  border-color:var(--firebrick);
}

/* text-color */
.primary{
  color:var(--primary) !important;
}
.green{
  color:var(--main-green) !important;
}
.red{
  color:var(--main-red) !important;
}
.light-blue{
  color:var(--light-blue) !important;
}
.yellow{
  color:var(--main-yellow) !important;
}
.orange{
  color:var(--main-orange) !important;
}
.white{
  color:white !important;
}
.dark-gray{
  color:var(--dark-gray) !important;
}
.firebrick{
  color:var(--firebrick) !important;
}

.bg-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*background color*/
.bg-primary{
  background-color: var(--primary) !important;
}
.bg-main{
  background-color: var(--main-bg-color) !important;
}
.bg-green{
  background-color:var(--main-green) !important;
}
.bg-red{
  background-color:var(--main-red) !important;
}
.bg-blue{
  background-color:var(--main-blue) !important;
}
.bg-yellow{
  background-color:var(--main-yellow) !important;
}
.bg-orange{
  background-color:var(--main-orange) !important;
}
.bg-light-blue{
  background-color:var(--light-blue) !important;
}
.bg-white{
  background-color:white !important;
}
.bg-gray{
  background-color:var(--main-gray) !important;
}
.bg-dark-gray{
  background-color:var(--dark-gray) !important;
}
.bg-firebrick{
  background-color:var(--firebrick) !important;
}
.bg-transparent{
  background-color:transparent !important;
}
/* #endregion */

/*#region MARGIN */
.m-0{
  margin:0px !important;
}
.m-5{
  margin:5px;
}
.mt-1{
  margin-top:10px;
}
.mt-2{
  margin-top: 1.5rem;
}
.mb-1{
  margin-bottom:10px;
}
.mb-2{
  margin-bottom: 1.5rem;
}
.ml-1{
  margin-left:10px;
}
.ml-2{
  margin-left: 1.5rem;
}
.mr-1{
  margin-right:10px;
}
.mr-2{
  margin-right: 1.5rem;
}.m-top{
    margin-top:64px;
}
.m-bot{
    margin-bottom:64px;
}
.m-left{
    margin-left:64px;
}
.m-right{
    margin-right:64px;
}
/*#endregion */
/*#region PADDING */
.pad{
  padding:10px 14px !important;
}
.pad-0{
  padding:0px !important;
}
.pad-big{
  padding:20px 28px !important;
}
.pad-small{
  padding:5px 7px !important;
}
/*#endregion*/ 

/*#region LINKS */
.link{
  text-decoration: underline;
}
/*#endregion  */


/*#region BUTTON */
input[type=submit],button,.btn{
  cursor:pointer;
  border:none;
  padding:10px 14px;
  background-color: var(--primary);
  color:white;
}
.btn *{
  cursor:pointer;
}
input[type=submit]:hover,button:hover,.btn:hover{
  filter:brightness(75%);
}
.btn-small{
  padding:5px 7px;
}
/*#endregion*/

/*#region CARDS */
.card{
  display: flex;
  width:255px;
  min-width: 255px;
  flex-direction: column;
  padding:10px 14px;
  box-shadow:2px 1px 3px 2px #cccccc;
  justify-content: flex-start;
}
/*#endregion */


/*#region TABLE*/
table{
  margin:0px 5px 10px 5px;
  border:solid 1px #cccccc;
  border-collapse:collapse;
  overflow:auto;
}
tbody tr:nth-child(odd) {
  background-color: white;
}
tbody tr:nth-child(odd) * {
  background-color: white;
}
tbody tr:nth-child(even) {
  background-color: var(--main-gray);
}
tbody tr:nth-child(even) * {
  background-color: var(--main-gray);
}
th{
  border:none;
  padding:5px 7px;
  text-align:left;
  font-weight:bold;
}
td{
  padding:5px 7px;
  text-align:left;
  max-width:400px;
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
caption{
  font-weight:bold;
  padding:10px 14px;
  text-align:left;
}

/*center table texts*/
.tbl-center th,.tbl-center td{
  text-align:center;
}

.tbl-clickable tr, .tbl-clickable tr *{
  cursor:pointer;
}
.tbl-clickable tr:hover, .tbl-clickable tr:hover *{
  filter:brightness(75%);
}
/*#endregion*/

/*#region BORDER*/
.border{
  border:solid 1px;
}
.border-bot{
  border-bottom:solid 1px;
}
.border-top{
  border-top:solid 1px;
}
.border-left{
  border-left:solid 1px;
}
.border-right{
  border-right:solid 1px;
}
/*#endregion*/

.clickable,.clickable *{
  cursor:pointer;
}
.clickable:hover,.clickable:hover *{
  filter:brightness(75%);
}

.circle{
  border-radius:50%;
}

.round{
  border-radius:4px;
}

.scroll-x{
  width:100%;
  overflow-x:auto;
}

.none{
  display:none;
}

.modal-bg{
  position: fixed;
  display:flex;
  top:0;
  left:0;
  background-color: var(--dark-gray);
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: all .5s ease-in-out;
}

.modal{
  position:fixed;
  display:flex;
  transition: all .5s ease-in-out;
}

.profile-img{
  width:200px;
  height:200px;
}

.standby-input{
  visibility:hidden;
  width:0px;
  transition: all .5s ease-in-out;
} 
.standby-input + .standby-input-close{
  display:none;
}
.standby-input:target + .standby-input-close{
  display:flex;
}
.standby-input:target{
  visibility: visible;
  width:100%;
}


/*#region ALERT*/
.alert-container{
  position:fixed;
  display:flex;
  flex-direction: column;
  top:10%;
  margin:20px 3%;
}

.alert {
  color:white;
  width:100%;
  padding: 20px;
  font-weight:bold;
  background-color:var(--light-blue);
  margin-bottom: 15px;
  box-shadow:2px 1px 3px 2px #cccccc;
}

.danger{
  background-color:var(--danger);
}
.warning{
  background-color:var(--warning);
}
.success{
  background-color:var(--success);
}
.info{
  background-color:var(--info);
}
/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}  
/*#endregion*/

@media only screen and (max-width:600px){
  .mobile-hide{
    display:none;
  }
  .mobile-show{
    display:flex;
    width:100%;
  }
}